{
  "presets": [
    [
      "@babel/env",
      {
        "modules": 'umd',
        "targets": {
          "node": "8.9",
        },
      },
    ],
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true,
      },
    ],
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread",
    "add-module-exports"
  ],
}