@import "../styles/var.less";

// keys
.vc-log-key {
  color: @--VC-CODE-KEY-FG;
}
.vc-log-key-private {
  color: @--VC-CODE-PRIVATE-KEY-FG;
}

// values
.vc-log-val {
  white-space: pre-line;
}
.vc-log-val-function {
  color: @--VC-CODE-FUNC-FG;
  font-style: italic !important;
}
.vc-log-val-bigint {
  color: @--VC-CODE-FUNC-FG;
}
.vc-log-val-number,
.vc-log-val-boolean {
  color: @--VC-CODE-NUMBER-FG;
}
.vc-log-val-string {
  white-space: pre-wrap;
}
.vc-log-val-string.vc-log-val-haskey {
  color: @--VC-CODE-STR-FG;
  white-space: normal;
}
.vc-log-val-null,
.vc-log-val-undefined,
.vc-log-val-uninvocatable {
  color: @--VC-CODE-NULL-FG;
}
.vc-log-val-symbol {
  color: @--VC-CODE-STR-FG;
}
