<div class="vc-group {{actived ? 'vc-actived' : ''}}">
  <dl class="vc-table-row vc-group-preview" data-reqid="{{id}}">
    <dd class="vc-table-col vc-table-col-4">{{url}}</dd>
    <dd class="vc-table-col">{{method}}</dd>
    <dd class="vc-table-col">{{status}}</dd>
    <dd class="vc-table-col">{{costTime}}</dd>
  </dl>
  <div class="vc-group-detail">
    {{if (header !== null)}}
    <div>
      <dl class="vc-table-row vc-left-border">
        <dt class="vc-table-col vc-table-col-title">Headers</dt>
      </dl>
      {{for (var key in header)}}
      <div class="vc-table-row vc-left-border vc-small">
        <div class="vc-table-col vc-table-col-2">{{key}}</div>
        <div class="vc-table-col vc-table-col-4 vc-max-height-line">{{header[key]}}</div>
      </div>
      {{/for}}
    </div>
    {{/if}}
    {{if (getData !== null)}}
    <div>
      <dl class="vc-table-row vc-left-border">
        <dt class="vc-table-col vc-table-col-title">Query String Parameters</dt>
      </dl>
      {{for (var key in getData)}}
      <div class="vc-table-row vc-left-border vc-small">
        <div class="vc-table-col vc-table-col-2">{{key}}</div>
        <div class="vc-table-col vc-table-col-4 vc-max-height-line">{{getData[key]}}</div>
      </div>
      {{/for}}
    </div>
    {{/if}}
    {{if (postData !== null)}}
    <div>
      <dl class="vc-table-row vc-left-border">
        <dt class="vc-table-col vc-table-col-title">Form Data</dt>
      </dl>
      {{for (var key in postData)}}
      <div class="vc-table-row vc-left-border vc-small">
        <div class="vc-table-col vc-table-col-2">{{key}}</div>
        <div class="vc-table-col vc-table-col-4 vc-max-height-line">{{postData[key]}}</div>
      </div>
      {{/for}}
    </div>
    {{/if}}
    <div>
      <dl class="vc-table-row vc-left-border">
        <dt class="vc-table-col vc-table-col-title">Response</dt>
      </dl>
      <div class="vc-table-row vc-left-border vc-small">
        <pre class="vc-table-col vc-max-height vc-min-height">{{response || ''}}</pre>
      </div>
    </div>
  </div>
</div>